body {
  margin: 0;
  padding: 0;
  background: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  overflow: hidden;
  padding-right: 12px;
}

.calculator {
  width: 300px;
  background: #222;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.display {
  background: #000;
  color: #fff;
  padding: 15px;
  font-size: 28px;
  text-align: right;
  border-radius: 6px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
}

.btn {
  background: #333;
  color: white;
  padding: 15px 0;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 22%;
  height: 64px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background: #444;
}

.operator {
  background: #555;
  color: #ffd94d;
}

.clear {
  background: #773333;
  color: #ffb3b3;
}

.equals {
  background: #ffd94d;
  color: black;
  font-weight: bold;
  width: 22%;
}

.zero {
  width: 48%;
}

.footer {
  font-size: 15px;
}